:root {
  --footer-height: 182px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  position: relative;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0px;
}

.navbar-header > a.navbar-brand:hover {
  color: #b74a45;
  transition: 0.3s;
}
.navbar-header a.navbar-brand {
  color: #9d9d9d;
  transition: 0.3s;
}

nav .navbar-nav li a:hover {
  color: #337ab7 !important;
  transition: 0.3s;
}

nav .navbar-nav li a {
  color: #9d9d9d;
  transition: 0.3s;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 200px; /* height of your footer */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold {
  font-weight: bold;
}

.list-group-item.autoCompleteList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item.addedIngredient {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.form-instructions {
  display: flex;
  margin-bottom: 5px;
}

.form-instructions .btn {
  margin-left: 5px;
}
#recipeImg {
  max-width: 400px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-icons {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.icon_link {
  transition: color 0.3s;
  color: black;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
}

.icon_link:hover {
  transition: color 0.3s;
  text-decoration: none;
  color: #337ab7 !important;
}

.footer-copyr {
  text-align: center;
}

.category-group {
  display: flex;
}

.category-group label {
  margin-top: 5px;
  margin-right: 5px;
}

.category-group .form-check {
  margin-right: 10px;
}

.category-group input {
  width: 20px;
  height: 20px;
}

.category-group .form-check {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.recipeViewImg {
  max-height: 200px;
  width: auto;
}
.recipeItem .btn {
  margin: 10px;
}

#searching_ingredients {
}

.searching_ingred_true {
  display: flex !important;
}

.searching_ingred_false {
  display: none !important;
}

.recipeItem {
  padding: 15px 15px 0px 15px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

#landing_container {
  width: 100%;
  height: 100%;
  background-image: url("./images/magnific.jpeg");
  background-size: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--footer-height);
  margin-bottom: 40px;
}

.main-container > .container {
  margin-top: 40px;
}

.squidward {
  height: 120px;
  width: auto;
}

/* Animations */
/* 
.example-enter {
  opacity: 0.01;
  transition: 1s;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
} */
